.emoji{
    position: relative;
    margin-left: 8rem;
    margin-top: 8rem;
    }
    .face{
        width: 20rem;
        height: 20rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color:rgb(247, 144, 144);;
    }
    .eye1{
        width: 4rem;
        height: 4rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: white;
        margin-left: 2.5rem;
        margin-top: 5rem;
    }
    .eyeball1{
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        margin-left: 3.4rem;
        margin-top: 5.5rem;
    }
    .eye2{
        width: 4rem;
        height: 4rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: white;
        margin-left: 13rem;
        margin-top: 5rem;
    }
    .eyeball2{
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        margin-left: 14rem;
        margin-top: 5.5rem;
    }
    .nose{
        width: 8rem;
        height: 7rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 80px 80px 80px 80px;
        background-color: rgb(247, 144, 144);
        margin-left: 5.5rem;
        margin-top: 10rem;
    }
    .noseball1{
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black ;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .noseball2{
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black ;
        margin-left: 5rem;
        margin-top: 2rem;
    }
    .ear1{
        width: 6rem;
        height: 8rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50px 50px 0px 20px;
        background-color:rgb(247, 144, 144);;
        margin-left: 2rem;
        margin-top: -1rem;
        z-index: -1;
    }
    .ear2{
        width: 6rem;
        height: 8rem;
        position: absolute;
        border: 2px solid black;
        border-radius: 50px 50px 0px 0px;
        background-color: rgb(247, 144, 144);;
        margin-left: 12rem;
        margin-top: -1rem;
        z-index: -1;
    }
    body {
        background-image: url(https://img.freepik.com/free-vector/cat-sleeping_1308-16742.jpg?size=626&ext=jpg&ga=GA1.2.407798332.1693645243&semt=ais);
        background-repeat: no-repeat;
        background-size: cover;
      }